* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text: blueviolet
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

h3 {
    color: var(--text);
    text-align: right;
    font-size: 1.5em;
}

body {
    background-color: black;
} 

.title-card {
    font-size: 3.5em;
    text-align: center;
    color: var(--text);
}

.card-timer {
    margin: auto;
    padding: 20px;
    width: 90vh;
}

.timer-text {
    padding: 25px;
}

.timer-count {
    color: var(--text);
    text-align: right;
    font-size: 3.5em;
}

button {
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
    letter-spacing: 0.21px;
    line-height: 16px;
    max-width: 255px;
    padding: 20px 20px;
    text-align: center;
    transition-duration: 0.15s;
    transition-property: background-color;
    transition-timing-function: linear;
    margin-top: 0.6em;
}

header {
    padding: 40px;
    text-align: center;
    color: #fff;
    border-bottom: 30px #879274;
}

main {
    color: var(--text);
    font-size: 200%;
}

#question-section {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 20px;
}

#choices-list {
    list-style: none;
    padding: 0;
    line-height: 75px;
}

#choices-list li {
    background-color: #333;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 1px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#choices-list li:hover {
    background-color: #555;
}

#wordBlank {
    display: none;
    text-align: center;
    font-size: 50px;
}

#initials {
    display: block;
    margin: 0 auto;
    font-size: 24px;
}

#alert {
    width: 50%;
    padding: 5px;
    text-align: center;
    border-radius: 10px;
    text-shadow: white 2px 3px;
    margin: auto;
}

@media screen and (max-width: 504px) {
    .card-timer {
        height: 200px;
      }
}