* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.title-card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
    border: 3px dashed white;
    font-size: 500%;
}

#start-btn {
    
}

#timer-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}